[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lidaRtRee"]
	path = lidaRtRee
	url = https://github.com/cran/lidaRtRee
	shallow = true
	registered = true
